{% extends 'main/layout.html' %}

{% load static %}

{% block title %}О нас{% endblock %}

{% block meta %}
    <meta name="description" content="Узнайте больше о нашем косметологическом центре 'Галатея', который предлагает косметологические услуги и пластическую хирургию.">
    <meta name="keywords" content="косметология, услуги, уход за кожей, пластическая хирургия, красота, Галатея">
{% endblock %}

{% block content %}
    <div>
        <h1>Косметологический центр "Галатея"</h1>

        {% if company_info.logo %}
            <h2>Логотип</h2>
            <img src="{{ company_info.logo.url }}" alt="Логотип компании" width="600"/>
        {% endif %}

        {% if company_info.info %}
            <h2>О нас</h2>
            <p>{{ company_info.info|linebreaks }}</p>
            <audio controls>
                <source src="{% static 'main/reincarnation.mp3' %}" type="audio/mpeg">
                Ваш браузер не поддерживает аудиоплеер.
            </audio>
            <p><strong>Подпись к аудио: Вот с таким звуком вы будете перевоплощаться в красотку!</strong></p>
        {% endif %}

        {% if company_info.video %}
            <h2>Видео о клинике</h2>
            <video width="600" autoplay controls muted>
                <source src="{{ company_info.video.url }}" type="video/mp4">
                Ваш браузер не поддерживает видео.
            </video>
        {% endif %}

        {% if company_info.history %}
            <h2>История компании</h2>
            <p>{{ company_info.history|linebreaks }}</p>
        {% endif %}

        {% if company_info.requisites %}
            <h2>Реквизиты</h2>
            <p>{{ company_info.requisites|linebreaks }}</p>
        {% endif %}

        {% if company_info.certificate_file %}
            <h2>Сертификат</h2>
            <div>
                <iframe src="{{ company_info.certificate_file.url }}" frameborder="0" width="600" height="249" scrolling="yes"></iframe>
            </div>
            {% if company_info.css_file %}
            <div>
                <a href="{{ company_info.certificate_file.url }}" download>Скачать сертификат (HTML)</a>
            </div>
            <div>
                <a href="{{ company_info.css_file.url }}" download>Скачать стили для сертификата (CSS)</a>
            </div>
            {% else %}
            <div>
                <a href="{{ company_info.certificate_file.url }}" download>Скачать сертификат (HTML)</a>
            </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}