{% extends 'main/layout.html' %}

{% load static %}

{% block title %}FAQ - Галатея{% endblock %}

{% block custom_css %}
<link type="text/css" href="{% static 'main/css/faq.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <section class="faq-section">
        <h1 class="faq-title">Часто задаваемые вопросы</h1>
        <ul class="faq-list">
            {% for faq_item in faq_items %}
            <li class="faq-item">
                <details class="faq-details">
                    <summary class="faq-summary">
                        <h3 class="faq-question">{{ faq_item.question }}</h3>
                        <p class="faq-date">Дата добавления: {{ faq_item.date_added }}</p>
                    </summary>
                <p class="faq-answer">Ответ: {{ faq_item.answer }}</p>
                </details>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="knowledge-section">
        <h3 class="knowledge-title">Дополнительные знания</h3>
        <dl class="knowledge-list">
          <dt>Косметология</dt>
          <dd>Наука и практическое направление, занимающееся изучением и применением средств и методов для улучшения внешнего вида кожи, волос и ногтей.</dd>

          <dt>Эссенция</dt>
          <dd>Концентрированное косметическое средство, которое обеспечивает глубокое увлажнение и восстановление кожи.</dd>

          <dt>Пилинг</dt>
          <dd>Процедура очищения и отшелушивания верхнего слоя кожи для улучшения её текстуры и цвета.</dd>

          <dt>Маска</dt>
          <dd>Косметическое средство, которое наносится на кожу для решения различных проблем, таких как увлажнение, питание или очищение.</dd>

          <dt>Эстетическая процедура</dt>
          <dd>Медицинская процедура, направленная на улучшение эстетики внешности, включая инъекции, лазерную терапию и хирургические вмешательства.</dd>

          <dt>Косметическая аллергия</dt>
          <dd>Негативная реакция кожи на компоненты косметических средств, проявляющаяся в виде покраснения, зуда или высыпаний.</dd>
        </dl>
    </section>
{% endblock %}