{% extends 'main/layout.html' %}

{% block title %}FAQ - Галатея{% endblock %}

{% block content %}
    <section>
        <h1>Часто задаваемые вопросы</h1>
        <ul>
            {% for faq_item in faq_items %}
            <li>
                <details>
                    <summary>
                        <h3>{{ faq_item.question }}</h3>
                        <p>Дата добавления: {{ faq_item.date_added }}</p>
                    </summary>
                <p>Ответ: {{ faq_item.answer }}</p>
                </details>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>Дополнительные знания</h3>
        <dl>
          <dt>Косметология</dt>
          <dd>Наука и практическое направление, занимающееся изучением и применением средств и методов для улучшения внешнего вида кожи, волос и ногтей.</dd>

          <dt>Эссенция</dt>
          <dd>Концентрированное косметическое средство, которое обеспечивает глубокое увлажнение и восстановление кожи.</dd>

          <dt>Пилинг</dt>
          <dd>Процедура очищения и отшелушивания верхнего слоя кожи для улучшения её текстуры и цвета.</dd>

          <dt>Маска</dt>
          <dd>Косметическое средство, которое наносится на кожу для решения различных проблем, таких как увлажнение, питание или очищение.</dd>

          <dt>Эстетическая процедура</dt>
          <dd>Медицинская процедура, направленная на улучшение эстетики внешности, включая инъекции, лазерную терапию и хирургические вмешательства.</dd>

          <dt>Косметическая аллергия</dt>
          <dd>Негативная реакция кожи на компоненты косметических средств, проявляющаяся в виде покраснения, зуда или высыпаний.</dd>
        </dl>
    </section>
{% endblock %}