{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Главная{% endblock %}

{% block meta %}
<meta name="description" content="Главная страница компании Галатея. Узнайте о наших услугах, акциях и партнерах.">
<meta name="keywords" content="косметология, услуги, акции, партнеры, Галатея">
{% endblock %}

{% block content %}
    <section>
        <p>Текущая дата: {{ current_date|date:"d/m/Y" }}</p>
        <p>Часовой пояс пользователя: {{ user_timezone }}</p>
        <p>Разница в часах от UTC: {{ utc_offset }}</p>
    </section>
    <section>
        <p>Календарь:</p>
        <h3>{{ month_name }}</h3>
        <table>
            {% for week in calendar_month %}
                <tr>
                    {% for day in week %}
                        <td>
                            {% if day == current_day %}
                                <strong>{{ day }}</strong>
                            {% elif day != 0 %}
                                {{ day }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </section>
    <section class="banner">
        <div class="banner-container">
            <img src="{% static 'main/banner_1.gif' %}" alt="Реклама компании" class="banner-img" width="600">
            <img src="{% static 'main/banner_2.gif' %}" alt="Реклама компании" class="banner-img" width="600">
            <img src="{% static 'main/banner_3.gif' %}" alt="Реклама компании" class="banner-img" width="600">
        </div>
    </section>
    <section class="service-catalog">
        <h2>Каталог услуг</h2>
        <div class="service-catalog-container">
            <details>
                <summary>Каталог услуг</summary>
                {% for category, services in grouped_services.items %}
                <div class="category-block">
                    <h3>Категория: {{ category.name }}</h3>
                    <div class="services-list">
                        {% for service in services %}
                            <div class="service-item">
                                <a href="{% url 'service_detail' service.id %}">{{ service.title }}</a>
                            </div>
                        {% empty %}
                            <p>Услуг в данной категории пока нет.</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </details>
        </div>
    </section>
    <article>
        <h2>Актуальная статья: {{ latest_article.title }}</h2>
        <p>{{ latest_article.summary }}</p>
        <img src="{{ latest_article.image.url }}" alt="{{ latest_article.title }}" width="600">
    </article>
    <section class="partners">
        <h2>Наши партнеры</h2>
        <ul class="partners-list">
            {% for partner in partners %}
                <li class="partner-item">
                    <a href="{{ partner.website }}" target="_blank" class="partner-link">
                        <img src="{{ partner.logo.url }}" alt="{{ partner.name }} logo" class="partner-logo" width="600">
                        <span class="partner-name">{{ partner.name }}</span>
                    </a>
                </li>
            {% empty %}
                <li>Партнеров пока нет.</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}