<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <aside>
        <ul>
            <!-- First Block: Public Pages -->
            <a href="{% url 'home' %}"><li>Главная</li></a>
            <a href="{% url 'news' %}"><li>Новости</li></a>
            <a href="{% url 'faq' %}"><li>FAQ</li></a>
            <a href="{% url 'about' %}"><li>О нас</li></a>
        </ul>
        <ul>
            <!-- Second Block: Public Pages with User Data -->
            <a href="{% url 'contacts' %}"><li>Контакты</li></a>
            <a href="{% url 'vacancies' %}"><li>Вакансии</li></a>
            <a href="{% url 'faq' %}"><li>FAQ</li></a>
            <a href="{% url 'about' %}"><li>О нас</li></a>
        </ul>
        <ul>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"><li>Выйти админу</li></button>
                    </form>
                {% elif user.doctor %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"><li>Выйти врачу</li></button>
                    </form>
                {% elif user.client %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"><li>Выйти клиенту</li></button>
                    </form>
                {% endif %}
            {% else %}
                <form action="{% url 'to_login' %}" method="get">
                    <button type="submit"><li>Войти</li></button>
                </form>
                <form action="{% url 'registration' %}" method="get">
                    <button type="submit"><li>Зарегистрироваться</li></button>
                </form>
            {% endif %}
        </ul>
    </aside>
    <main>
        <!-- Main content of the page goes here -->
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>