{% extends 'main/layout.html' %}

{% load static %}

{% block title %}{{ article.title }}{% endblock %}

{% block custom_css %}
<link type="text/css" href="{% static 'main/css/article_detail.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="article-detail">
        <a href="{% url 'news' %}">Вернуться к новостям</a>
        <h1>{{ article.title }}</h1>
        <img src="{{ article.image.url }}" alt="{{ article.title }}" width="800">
        <p>{{ article.content }}</p>
    </div>
{% endblock %}