{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block custom_css %}
<link type="text/css" href="{% static 'main/css/privacy_policy.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div id="privacy-policy">
        <h1 class="page-title">Политика конфиденциальности</h1>
        <p class="intro-text">Добро пожаловать в косметологический центр “Галатея”. Мы заботимся о вашей конфиденциальности и защищаем ваши персональные данные. Настоящая Политика конфиденциальности объясняет, как мы собираем, используем и защищаем информацию о вас.</p>

        <a href="#code-example" class="code-link">Перейти к примеру кода защиты данных и фигуре</a>
        <a href="#" class="code-link" id="read-aloud">Прочитать за вас</a>
        <div id="speaker-icon" class="hidden">
            <img src="{% static 'main/speaker.png' %}" alt="Speaker Icon">
        </div>

        <h2 class="section-title">1. Сбор личной информации</h2>
        <p class="section-text">Мы можем собирать следующую информацию:</p>
        <ul class="data-list">
            <li>Имя и фамилия</li>
            <li>Контактный телефон</li>
            <li>Email адрес</li>
            <li>Дата рождения</li>
        </ul>

        <h2 class="section-title">2. Использование информации</h2>
        <p class="section-text">Ваши данные могут использоваться следующим образом:</p>
        <ul class="usage-list">
            <li>Для предоставления медицинских услуг</li>
            <li>Для связи с вами и предоставления информации о наших услугах</li>
            <li>Для улучшения качества наших услуг</li>
        </ul>

        <h2 class="section-title">3. Таблица хранения данных</h2>
        <table class="data-table">
            <thead>
                <tr>
                    <th id="info" colspan="3">Таблица о назначении и сроках хранения данных</th>
                </tr>
                <tr>
                    <th id="type">Тип информации</th>
                    <th id="purpose">Цель использования</th>
                    <th id="duration">Срок хранения</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td headers="type">Персональные данные</td>
                    <td headers="purpose">Для предоставления медицинских услуг</td>
                    <td headers="duration">5 лет</td>
                </tr>
                <tr>
                    <td headers="type">Контактная информация</td>
                    <td headers="purpose">Для связи с клиентами</td>
                    <td headers="duration">1 год</td>
                </tr>
            </tbody>
        </table>

        <h2 id="code-example" class="section-title">4. Пример кода защиты данных</h2>
        <pre class="code-example">
        # Промежуточное программное обеспечение и декораторы для кликджекинга обеспечивают простую в использовании защиту против кликджекинга.
        # Установлен запрет показа содержимого XFrame, если источник содержимого имеет другой домен
        MIDDLEWARE = [
        ...
        'django.middleware.clickjacking.XFrameOptionsMiddleware',
        ]

        X_FRAME_OPTIONS = "SAMEORIGIN"
        </pre>

        <h2 class="section-title">5. Фигуры и схемы</h2>
        <figure class="data-figure">
            <img src="{% static 'main/circuit.png' %}" alt="Схема защиты данных" width="600">
            <figcaption>Схема процесса обработки запросов клиентов</figcaption>
        </figure>

        <h2 class="section-title">Контакты</h2>
        <p class="contact-text">Если у вас есть какие-либо вопросы или пожелания по поводу нашей политики конфиденциальности, пожалуйста, свяжитесь с нами:</p>
        <ul class="contact-list">
            <li>Телефон: +375 (29) 614-63-37</li>
        </ul>
    </div>

<script src="{% static 'main/js/privacy_policy.js' %}"></script>
{% endblock %}
