/* Основные стили для всей страницы */
#about-page {
    max-width: 1200px; /* Ограничение ширины страницы */
    margin: 0 auto; /* Центрирование содержимого */
    padding: 20px;
    color: #0D0D0D; /* Основной текст черного цвета */
    border-radius: 10px; /* Скругленные углы */
}

/* Заголовок компании */
#company-name {
    font-size: 2.5em;
    color: #DDAA03; /* Основной цвет заголовка */
    text-align: center; /* Центрирование заголовка */
    margin-bottom: 30px;
    text-transform: uppercase; /* Преобразование текста в заглавные */
}

/* Общий стиль для заголовков разделов */
.section-title {
    font-size: 1.8em;
    color: #0D0D0D;
    border-bottom: 2px solid #DDAA03; /* Подчеркивание */
    padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Стиль для логотипа */
.company-logo {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto; /* Центрирование логотипа */
    border-radius: 10px; /* Скругленные углы */
}

/* Стиль для блока "О нас" */
.company-info {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 20px;
    text-align: justify;
}

.company-audio {
    display: block; /* Делаем элемент блочным */
    margin: 20px auto; /* Центрируем аудиоплеер по горизонтали */
}

.audio-caption {
    text-align: center; /* Выравниваем текст подписи по центру */
    margin-top: 10px; /* Отступ сверху для подписи */
}


/* Стиль для видео */
.company-video {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стиль для истории компании */
.company-history {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 20px;
    color: #333; /* Основной цвет текста */
}

.company-history p {
    margin-bottom: 15px; /* Отступ между абзацами */
}

.company-history p:last-child {
    font-style: italic; /* Курсив для последнего абзаца (будущее) */
    color: #555; /* Чуть более приглушенный цвет */
}


/* Стиль для реквизитов */
.company-requisites {
    font-style: normal;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #333;
    margin-bottom: 30px;
}

/* Стиль для блока сертификата */
.certificate-container {
    margin: 20px 0;
    text-align: center;
}

.certificate-container iframe {

    border: 2px solid #DDAA03;
    border-radius: 10px;
}

/* Стили для ссылок на скачивание сертификата */
.certificate-links, .certificate-link {
    text-align: center;
    margin: 20px 0;
}

.certificate-links a, .certificate-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #DDAA03;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.certificate-links a:hover, .certificate-link a:hover {
    background-color: #bb8f02; /* При наведении */
}

/*Молекулы*/
#molecules_container {
    --molecule-size: 60px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Помещаем молекулы за контент */
    pointer-events: none; /* Отключаем клики по молекулам */
    transform: rotate(10deg);
}

#main-content {
    position: relative;
    z-index: 1;
}


.s {
    /* Размер и позиция атома кислорода */
    height: var(--molecule-size);
    width: var(--molecule-size);
    background: radial-gradient(ellipse at top left, #aaa 0%, #eee 60%, #aaa 75%, #aaa 100%);
    position: absolute;
    border-radius: 100%;
}

.a, .b {
    /* Размер и позиция атомов водорода */
    position: absolute;
    width: calc(var(--molecule-size) * 0.65);
    height: calc(var(--molecule-size) * 0.65);
    top: calc(var(--molecule-size) * 0.45);
    background: radial-gradient(ellipse at top left, #FFEE32 0%, #FFD04A 50%, #DDAA03 75%, #B58802 100%);
    border-radius: 100%;
}

.a {
    /* Позиция левого атома водорода */
    left: calc(var(--molecule-size) * -0.35);
}

.b {
    /* Позиция правого атома водорода */
    right: calc(var(--molecule-size) * -0.35);
}

.s:nth-child(1) {
    left: 24%;
    top: 34%;
}

.s:nth-child(2) {
    right: 9%;
    top: 20%;
}

.s:nth-child(3) {
    left: 70%;
    top: 55%;
}


.s:nth-child(4) {
    right: 56%;
    top: 54%;
}

.s:nth-child(5) {
    right: 70%;
    top: 79%;
}


.s:nth-child(6) {
    right: 50%;
    top: 15%;
}

.s:nth-child(7) {
    left: 80%;
    top: 78%;
}
