{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Контакты врачей{% endblock %}

{% block custom_css %}
<link type="text/css" href="{% static 'clinic/css/contacts.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div id="contacts-page">
        <h1 class="page-title">Контакты</h1>
        {% for service in service_specializations %}
            <div class="specialization" id="specialization-{{ service.id }}">
                <h2 class="specialization-title">{{ service.doctor_specialization.name }}</h2>
                <ul class="doctors-list">
                    {% for doctor in service.doctors.all %}
                        <li class="doctor-card" id="doctor-{{ doctor.id }}">
                            <img src="{{ doctor.photo.url }}" alt="Фото {{ doctor.name }}" class="doctor-photo" width="150" height="150">
                            <div class="doctor-info">
                                <h3 class="doctor-name">{{ doctor.surname }} {{ doctor.name }} {{ doctor.patronymic }}</h3>
                            </div>
                            <div class="contact-info">
                                <p class="doctor-phone">Телефон: {{ doctor.phone }}</p>
                                <p class="doctor-email">Email: {{ doctor.email }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}

