{% extends 'main/layout.html' %}

{% block title %}Контакты врачей{% endblock %}

{% block content %}
    <h1>Контакты</h1>
    {% for service in service_specializations %}
        <div class="specialization">
            <h2>{{ service.doctor_specialization.name }}</h2>
            <ul>
                {% for doctor in service.doctors.all %}
                    <li>
                        <img src="{{ doctor.photo.url }}" alt="Фото {{ doctor.name }}" width="150" height="150">
                        <h3>{{ doctor.surname }} {{ doctor.name }} {{ doctor.patronymic }}</h3>
                        <p>Телефон: {{ doctor.phone }}</p>
                        <p>Email: {{ doctor.email }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}