{% extends 'main/layout.html' %}

{% block title %}Отзывы о клинике{% endblock %}

{% block content %}
    <h1>Отзывы о клинике</h1>
    {% if user.is_authenticated %}
        {% if user.client %}
            <form action="{% url 'add_review' %}" method="get">
                <button type="submit">Оставить отзыв</button>
            </form>
        {% else %}
            <p>Отзывы могут оставлять только клиенты косметологического центра.</p>
        {% endif %}
    {% else %}
        <p><a href="{% url 'to_login' %}">Авторизуйтесь</a>, чтобы оставить отзыв.</p>
    {% endif %}

    <h2>Средняя оценка клиники: {{ average_rating }} из 5</h2>

    {% for review in reviews %}
        <div class="review">
            <h3>{{ review.user.username }}</h3>
            <p>{{ review.text }}</p>
            <p>Оценка: {{ review.rating }} из 5</p>
            <p>Оставлен: {{ review.created_at }}</p>
            {% if user.is_authenticated and user.is_superuser %}
            <form action="{% url 'update_review' review.id %}" method="get">
                <button type="submit">Изменить отзыв</button>
            </form>
            <form action="{% url 'delete_review' review.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Удалить отзыв</button>
            </form>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
