#vacancies-page {
    padding: 20px;
    color: #0D0D0D;
}

.page-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 16px;
    margin-bottom: 25px;
}

.about-link {
    color: #DDAA03;
    text-decoration: underline;
}

.vacancy-card {
    max-width: 200px; /* Ограничиваем ширину для каждой карточки */
    margin: 10px; /* Отступы между карточками */
    float: left; /* Делаем карточки плавающими влево */
    /*clear: both;*/
    border: 1px solid #DDAA03;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.vacancy-title {
    font-size: 24px;
    color: #0D0D0D;
    margin-bottom: 10px;
}

.vacancy-description {
    font-size: 16px;
    color: #555555;
}
